<div class="my-5">
  <div id="div_list" class="row"></div>
  <script id="temp_list" type="x-handlebars-template">
    {{#each documents}}
    <div class="col-6 col-md-3 col-lg-2 mb-2">
      <div class="card">
        <div class="card-body text-center">
            <img src="{{thumbnail}}" width="100" info="{{funInfo @this}}" style="cursor:pointer;">  
        </div>
        <div class="card-footer" style="font-size:12px;">
          <div class="ellipsis">{{title}}</div>
          <div>{{price}}원</div>
        </div>    
      </div>  
    </div>
    {{/each}}  
  </script>
  <script>
    Handlebars.registerHelper("funInfo", function(info){
      return JSON.stringify(info)
    })
  </script>
</div>

<script>
  let query="자바";
  let page=1;
  let size=12;

  getList();

  //이미지를 클릭한 경우
  $("#div_list").on("click", "img", function(){
    let info = $(this).attr("info");
    info = JSON.parse(info);
    location.href=`/kakao/book/info?title=${info.title}&thumbnail=${info.thumbnail}&isbn=${info.isbn}&price=${info.price}&authors=${info.authors}&publisher=${info.publisher}&contents=${info.contents}`;
  });

  //도서목록 함수
  function getList(){
    $.ajax({
        type:"get",
        url:"https://dapi.kakao.com/v3/search/book?target=title",
        data: {query:query, size:size, page:page},
        headers:{
            "Authorization": "KakaoAK 7dc21d5852274d162cc3c15163505083"
        },
        success:function(data){
            console.log(data);
            const temp=Handlebars.compile($("#temp_list").html());
            $("#div_list").html(temp(data));
        }
    });
    }
</script>